/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

*{
  margin:0;
  padding: 0;
}

html{
  font-size:16px;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
  --nav-height: 6.8rem;
  --gradient1: linear-gradient(-45deg, #e71f80 -0.84%, #86368c 48.07%, #009fe3 101.23%);
  --gradient2: linear-gradient(-45deg, #a2c617 -0.81%, #00A97d 48.85%, #009fe3 100.62%);
  --gradient3: linear-gradient(-45deg, #ff8001 -1.08%, #f80080 46.24%, #661f80 101%);
  --gradient4: linear-gradient(-45deg, #ffe000 -2.05%, #ff8001 49.66%, #f80080 103.56%);
}


html{
  display:block;
}

body{
  display: block;
	background-color:#eee;
  font-family: "Montserrat";
  
}

@font-face
{
    font-family: 'pressstart2p';
    src: url('../css/fonts/Coco-Sharp-L-Bold.woff2');
}
@font-face
{
    font-family: 'pressstart2p';
    src: url('../css/fonts/Coco-Sharp-L-Extrabold.woff2');
}

header{
  height: 4.2rem;
  background-color:#111;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;

}

header a{
  margin-top: 0.5em;
  margin-left: 1em;
  z-index: 4;
  
}

nav{
  display: flex;
  flex-direction: row;
  font-weight: 400;
  margin-right: 1em;
}

header nav a img{
  width: 20px;
  
  
}

.main_navigation{
  display:flex;
  justify-content: space-between;
  list-style: none;
  gap: 1em;
  align-items: center;

}

header li a{
  color:white;
  font-weight: 100;
  font-size: 0.6rem;
  text-transform:uppercase;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

}

@media (max-width:38em) {header  a img{
  width: 76px;
}}

main figure img {
  width: 100%;
  height: auto;
  display: block;
}

.slideshow-container {
  position: relative; /* makes positioning inside it possible */
  width: 100%;
  margin: 0;
}

.slideshow-text {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #e71f80;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: bold;
}

main section{
  height: 300px;
  text-align:center;
  padding: 3rem 1.5rem 6rem;

  background-color: #e71f80;
  background-image: linear-gradient(-45deg, #ff8001 -1.08%, #f80080 46.24%, #661f80 101%);
  
}

main section h2{
  margin-right: 4rem; 
  margin-left: 4rem;
  color: #e71f80;
  background-color: white;
}

.zoek{
  background-color: white;
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding:1em 0;
}

.zoek form{
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 1rem auto;
}

.zoek input{
  background-color: #E7E7E7;
  border: none;
  width: 330px;
  font-size: 1em;
  line-height: 1.8rem;
  border-radius: 0.2em;
  padding: 0.7rem 0.7rem 0.7rem;
  margin: 0 1em;
}

.zoek img{
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.2rem;
  pointer-events: none;
}
.zoek h3{
  font-size: 1.3em;
  margin: 0.3em 1em;
}

.zoek ul{
  margin-top: 0.4em;
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  list-style: none;
  overflow-x: auto;
}

.zoek button{
  padding: 0.4em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight:bold;
  background-color: #661f80;
  color: white;
  border-radius: 0.3em;
  border: none;
}

.voorstellingen{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  
}
.voorstellingen ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin: 1em;
}


.filter-button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  padding: 0.4em 1em;
  border-radius: 0.3em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.filter-button.active {
  background-color: black;
  color: white;
}

.voorstellingen img{
  width:343px;
  border: 6px solid transparent; /* Required for border-image */
  background-image: linear-gradient(-45deg, #ff8001 -1.08%, #f80080 46.24%, #661f80 101%);
}

.voorstellingen article{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  background-color: white;
  height:auto;
  margin-bottom: 1em;
}

article h3{
  color: white;
  padding: 0.2em;
}
article p{
  font-size: 0.8em;
}

article time{
  font-size: 0.8em;
  font-weight: 700;
  background-color: #E7E7E7;
  padding: 0.5em;
  margin-bottom: 2em;
}

.malle-babbe h3{
  background-image: linear-gradient(-45deg, #ff8001 -1.08%, #f80080 46.24%, #661f80 101%);
}

.malle-babbe time{
  color: #f80080;
}

.plien-bianca img{
  background-image: linear-gradient(-45deg, #ffe000 -2.05%, #ff8001 49.66%, #f80080 103.56%)
}
.plien-bianca h3{
  background-image: linear-gradient(-45deg, #ffe000 -2.05%, #ff8001 49.66%, #f80080 103.56%);
}
.plien-bianca time{
  color: #ff8001;
}

.laan-woe img{
  background-image: linear-gradient(-45deg, #e71f80 -0.84%, #86368c 48.07%, #009fe3 101.23%);
}

.laan-woe h3{
  background-image: linear-gradient(-45deg, #e71f80 -0.84%, #86368c 48.07%, #009fe3 101.23%);
}

.laan-woe{
  color: #86368c;
}