/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

*{
  margin:0;
  padding: 0;
}

html{
  font-size:16px;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--text-black:#111;
  --text-white:  #fff;
  --white: #fff;
  --grey-light: #eeeeee;
  --grey-dark: #9b9b9b;
  --black:#111;
  --gradient1: linear-gradient(-45deg, #ff8001 -1.08%, #f80080 46.24%, #661f80 101%);
  --gradient2: linear-gradient(-45deg, #ffe000 -2.05%, #ff8001 49.66%, #f80080 103.56%);
  --gradient3: linear-gradient(-45deg, #e71f80 -0.84%, #86368c 48.07%, #009fe3 101.23%);
  --gradient4: linear-gradient(-45deg, #a2c617 -0.81%, #00A97d 48.85%, #009fe3 100.62%);
}


html{
  display:block;
}

body{
  display: block;
	background-color: var(--white);
  font-family: "Montserrat";
  line-height: 2em;
  
}

@font-face
{
    font-family: 'coco-sharp-bold';
    src: url('../css/fonts/Coco-Sharp-L-Bold.woff2');
}
@font-face
{
    font-family: 'coco-sharp-extrabold';
    src: url('../css/fonts/Coco-Sharp-L-Extrabold.woff2');
}

header{
  height: 4.2rem;
  background-color:var(--black);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  width: 100%;
  

}

header a{
  margin-top: 0.5em;
  margin-left: 1em;
  z-index: 10;
}

a{
  text-decoration: none;
  color:var(--text-black);
  font-size: 1em;
}

nav {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  margin-right: 1em;
}

.main_navigation a img{
  width: 20px;
}

.main_navigation{
  display:flex;
  justify-content: space-between;
  list-style: none;
  gap: 1em;
  align-items: center;

}

.main_navigation li a, .zaal-iconen li{
  color:var(--text-white);
  font-weight: 100;
  font-size: 0.6rem;
  text-transform:uppercase;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  gap: 0;

}

@media (max-width:38em) {header  a img{
  width: 76px;
}}

main figure img {
  padding-top: 3em;
  width: 100%;
  height: auto;
  display: block;
}

/* bron: ChatGPT */

#zoom-afbeelding{
  overflow: hidden;
}

#zoom-afbeelding img {
  transition: transform 5s ease;
}

#zoom-afbeelding:hover img {
  transform: scale(1.1);
}

.slideshow-container {
  position: relative;
  width: 100%;
  margin: 0;
}

.slideshow-text {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  color: #e71f80;
  padding: 0 0.5em;
  font-size: 1rem;
  font-weight: bold;
}

main section{
  height: 300px;
  padding: 3rem 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  background-color: #e71f80;
  background-image: var(--gradient1);
}

main section h2{
  font-size: 1.5em;
  padding: 0 0.4em;
  color: #e71f80;
  background-color: var(--white);
}



main section p{
  padding: 0 0.5em;
  font-weight: 800;
  font-size: 0.8em;
  color: #e71f80;
  background-color: var(--white);
}



.zakelijk main section p,.zakelijk main small, .referenties small {
  background-color: transparent;
  color: var(--text-white);
  font-weight: 400;
  text-align: center;
  line-height: 1.5em;
}

.zakelijk main small{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.zakelijk main small a{
  border:none;
  background: none;


}

main a, .cabaret a, .zalen a, .referenties a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.4em 1em;

  border: 2px solid black;
  background-color: var(--black);
  color: var(--text-white);
  text-decoration: none;

  font-weight: 700;
  border-radius: 0.4em;
  cursor: pointer;
}



.zoek{
  background-color: var(--white);
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding:1em 0;
}

.zoek form{
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 1rem auto;
}

.zoek input{
  background-color: var(--grey-light);
  border: none;
  width: 330px;
  font-size: 1em;
  line-height: 1.8rem;
  border-radius: 0.2em;
  padding: 0.7rem 0.7rem 0.7rem;
  margin: 0 1em;
}

.zoek img{
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.2rem;
  pointer-events: none;
}
.zoek h3{
  font-size: 1.3em;
  margin: 0.3em 1em;
}

.zoek ul{
  margin-top: 0.4em;
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  list-style: none;
  overflow-x: auto;
}

.zoek button{
  padding: 0.4em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight:bold;
  background-color: #661f80;
  color: var(--text-white);
  border-radius: 0.3em;
  border: none;
}

.voorstellingen, .zalen, .we-bieden, .mogelijkheden, .referenties, .referenties li{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.zalen{
  padding: 2em 1em 1em 1em;
}


.voorstellingen ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin: 1em;
}

.we-bieden{
  background-color: var(--grey-light);
}

.zaal-iconen, .voorzieningen-lijst, .we-bieden ul{
  gap: 1em;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1em;
  padding-bottom: 1.5em; 
}



.voorzieningen-lijst {
  list-style: none;
}

/* bron: StackOverflow.com */
.voorzieningen-lijst li:before {
  content: '✓';
  color: #7ED321;
}

.zalen .voorzieningen-lijst{
  display: flex;
  flex-direction: column;
}

.voorzieningen-lijst{
  gap: 0.5em;
}


.filter-button {
  background-color: transparent;
  border: 2px solid;
  color: var(--text-black);
  padding: 0.4em 1em;
  border-radius: 0.3em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.filter-button.active {
  background-color: var(--black);
  color: var(--text-white);
}

.voorstellingen{
  background-color: var(--grey-light);
}

.voorstellingen article img{
  width:343px;
  border: 6px solid transparent; /* Nodig voor border-image */ 
}

.voorstellingen article, .cabaret{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  background-color:var(--white);
  height:auto;
}

.zalen-article{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  height: auto;
}

.voorstellingen article, .zalen article{
  margin-bottom: 0.7em;
}


/*checken met border image slice */
.zaal-inhoud{
  border: 5px solid transparent;
  border-image: var(--gradient3);
  border-image-slice: 1;
  overflow: hidden;
  max-width: 360px;
  margin: 1em 1em;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.zaal-inhoud h3{
  font-size: 1.4em;
  padding: 0.5em 0.5em;
}
.zaal-inhoud p{
  font-size: 1em;
  padding: 0 1em;
}


article h3{
  color: var(--text-white);
  padding: 0.2em;
}

.zalen article h3{
  color: var(--text-blackwhite);
}

.zaal-iconen li{
  color: var(--text-black);
  font-weight: 600;
  gap: 0.5em;
  background-color: var(--grey-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.zaal-inhoud a{
  margin: 1em;
  font-size: 1.1em;
}

.zalen>a{
  margin:0.5em;
}

article p{
  font-size: 0.8em;
}

article time{
  font-size: 0.8em;
  font-weight: 700;
  background-color: var(--grey-light);
  padding: 0.5em;
  margin-bottom: 2em;
}

.malle-babbe h3{
  background-image: var(--gradient1);
}
.malle-babbe img{
  background-image: var(--gradient1);
}

.malle-babbe time{
  color: #f80080;
}

.plien-bianca img{
  background-image: var(--gradient2);
}
.plien-bianca h3{
  background-image: var(--gradient2);
}
.plien-bianca time{
  color: #ff8001;
}

.laan-woe img{
  background-image: var(--gradient3);
}

.laan-woe h3{
  background-image: var(--gradient3);
}

.laan-woe{
  color: #86368c;
}

.voorstellingen a{
  margin-top: 1em;
  font-weight: 700;
  font-size: 0.9em;
}

.voorstellingen .slideshow-text{
  padding: 0 0.6em;
  margin-bottom: 0.6em;
  font-size: 0.7em;
  font-weight: 800;
}

.cabaret{
  padding: 3em 0.9em;
}

.cabaret>img:first-of-type{
  width:343px;
  border: 4px solid transparent; /* nodig voor border-image */
  background-image: var(--gradient3);
}

.cabaret h3{
  font-weight: 750;
  font-size: 1.2em;
}
.cabaret p{
  font-weight: 350;
  font-size: 0.9em;
}

.cabaret a, .zalen>a{
  padding: 0.75em 1em;
  background-color: transparent;
  color: var(--text-black);
  border-radius: 0.3em;
}

.cabaret a{
  width: 343px;

}

.achter-de-schermen{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  color: var(--text-white);
  padding-top: 2.5em;
  gap: 1.5em;
}

.video-placeholder {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}


.video-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.info-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.video-placeholder iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video-caption {
  position: absolute;
  margin-left: 0.5em;
  bottom: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  z-index: 2;
  padding-left: 0.5em
}

.video-caption span {
  background: var(--gradient2);
  color: var(--text-white);
}

.achter-de-schermen a{
  color: var(--text-white);
}

.achter-de-schermen a:last-child{
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.rating, .social-media, .nieuwsbrief, footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em 1em;
}

.rating h3 {
  font-size: 1.4em;
  font-weight: 800;
  margin-bottom: 1.5em;
}

.rating div {
  background-color: var(--grey-light);
  padding: 1em;
  gap: 0.7em;
}

.rating div figure, .social-media figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
}
.rating div figcaption {
  font-size: 1.8em;
  font-weight: 800;
}


.rating div p:first-child{
  display: flex;
  gap: 0.2em;
}

.rating div p:first-child img {
  width: 1.4em;
  height: 1.4em;
}

.rating div p:last-child {
  line-height: 1.4;

}

.reviews strong {
  font-weight: 800;
}

/* OVERIG ZAKELIJK PAGINA*/


.zalen h2, .mogelijkheden h2, .referenties h2, .partners h2{
  text-align: center;
  align-items: center;
  font-size: 1.7em;
  margin: 1em 0 1em 0;
}
.zalen>p, .mogelijkheden>p, .partners>p{
  text-align: center;
  font-size: 0.9em;
  padding: 0 0.7em 1.5em 0.7em;
}

.zakelijk>figure {
  max-width: 345px; /* mobiel breedte */
  margin: 5em auto 2em auto;
  box-sizing: border-box;
}

.zakelijk>figure iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

@media (min-width: 768px) {
  .zakelijk>figure {
    max-width: 900px;
  }
}

.we-bieden{
  padding-top: 5em;
}
.we-bieden li{
  font-size: 1em;
}
.we-bieden li p{
  font-size: 0.9em;
  font-weight: 400;
}

.mogelijkheden-opties{
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}

.mogelijkheden-opties li{
  width: 50%;
  list-style: none;
}
.mogelijkheden-opties a, .partners a{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.partners a{
  color:#661f80;
}
.mogelijkheden-opties a>img{
  width: 100%;
  height: auto;
  filter: brightness(70%);
}

.mogelijkheden-opties h3{
  position: absolute;
  color: var(--white);
  z-index: 1;
}


.referenties li>img:first-of-type{
  width: 15em;
  height: 15em;
  padding: 0.2em;
  border-radius: 50%;
  background-image: var(--gradient1);
  margin-bottom: 2em;
}

.referenties li p{
  font-size: 1.2em;
  padding: 3em 3em 0 3em;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.referenties small {
  color: var(--text-black);
  font-weight: 700;
  padding: 3em;
}


.slider-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slider {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

.slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.slider li.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}
✅ Pijltjes-styling
css
Copy code
.slider-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.2em 0.5em;
  cursor: pointer;
  z-index: 10;
}

.slider-container .prev {
  left: 0.5em;
}

.slider-container .next {
  right: 0.5em;
}

.slider-container button:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* bron: Chatgpt */
.logo-partners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em 0;
  justify-items: center;
  margin: 4em 0 2em 0;
}

.logo-partners img {
  max-height: 60px;
  max-width: 120px;
  object-fit: contain;
  width: auto;
  height: auto;
}

/* Laatste logo centreren bij 2 per rij */
.logo-partners img:last-child:nth-child(2n + 1) {
  grid-column: 1 / -1;
  justify-self: center;
}

@media (min-width: 600px) {
  .logo-partners {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Laatste logo centreren bij 3 per rij */
  .logo-partners img:last-child:nth-child(3n + 1) {
    grid-column: 2 / 3;
  }
}


.social-media{
  position: relative;
  background-color: var(--black);
  color: var(--text-white);
  height: 100%;
  padding: 4em 0;
  overflow: hidden;
}

.zakelijk .social-media{
  padding: 2.5em 0; 
}

.social-media figure img{
  background-image: var(--gradient1);
  padding: 0.5em;
  margin-top: 1em;
  border-radius: 0.5em;
}


/* bron: Youtube */
.carrousel-foto{
  position: absolute;
  z-index: 0;
  overflow: hidden;
  white-space: nowrap;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.foto-slide{
  filter: brightness(70%);
  display: inline-block;
  animation: 30s slide infinite linear;
}

@keyframes slide{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }

}

.foto-slide img{
  height: 100%;
  object-fit: cover;
  width: auto;
}

.social-media h2,
.social-media figure, .zakelijk .social-media img {
  position: relative;
  z-index: 2;
}

.zakelijk .foto-slide img{
  height: 220px;
}

.nieuwsbrief{
  background-color: var(--black);
  color: var(--white);
  gap: 0.9em;
}

.nieuwsbrief p{
  font-size: 0.9em;
  line-height: 1.2em;
}

.nieuwsbrief span {
  background: var(--gradient1);
  color: var(--text-white);
}

.nieuwsbrief form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nieuwsbrief input{
  font-size: 1em;
  line-height: 1.8rem;
  border-radius: 0.2em;
  padding: 0.7em 0.7rem 0.7rem;
  width: 100%;
  border: none;
}

.nieuwsbrief input:first-child{
  width: 210%;
  border-radius: 0;
}
.nieuwsbrief input:last-child{
  border-radius: 0 0.3em 0.3em 0;
  background-image: var(--gradient1);
  color: var(--text-white);
  font-weight: bold;
}

.nieuwsbrief a, footer a {
  font-weight: bold;
  color: var(--text-white);
}

.nieuwsbrief small{
  font-size: 0.7em;
}

footer {
  background-image: var(--gradient1);
  color: var(--text-white);
  width: 100%;
}

footer section:first-of-type p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3em;
}

footer details{
 width: 342px;
 border-bottom: black;
}

footer summary, .zaal-inhoud a{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer summary img{
  width: 1.2em;
  height: auto;
}

footer details ul{
  list-style: none;
  justify-content: left;
  align-items: flex-start;
}

footer details{
  padding: 1em 0.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); /* licht wit/transparant */
  font-weight: 600;
}

footer details:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

footer section nav{
  display: flex;
  flex-direction: column;
}

footer section:nth-of-type(2), footer section:nth-of-type(3){
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  text-align: left;
  line-height: 1.5;
  gap: 2em;
  padding: 1em;
  margin: 2em 0;
}

footer section:nth-of-type(3){
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 3em 0;
}
footer section:nth-of-type(3) img:last-child{
  width: 20%;
}

footer section:nth-of-type(3) img:first-child{
  width: 60%;
}

.betaling-opties{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
  flex-wrap: wrap;
  width: 60%; 
}

footer section:nth-of-type(4){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  font-weight: 600;
  margin: 2em 0;
}



